<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<div class="pt-2 pl-4 pr-3">
  <p-tabView (onChange)="handleChange($event)">
    <p-tabPanel
      [header]="item.label"
      *ngFor="let item of items"
      [style]="{ padding: '0' }"
    ></p-tabPanel>
  </p-tabView>
</div>

<div class="h-5/6 pl-4 pr-3 pb-4">
  <p-splitter [style]="{ height: '100%' }" gutterSize="6">
    <ng-template pTemplate>
      <app-input-form [index]="index"></app-input-form>
    </ng-template>
    <ng-template pTemplate>
      <app-input-specification [index]="index"></app-input-specification>
    </ng-template>
  </p-splitter>
</div>
<form [formGroup]="form" class="pl-10">
  <button
    type="button"
    pButton
    pRipple
    (click)="handleSubmit()"
    label="Submit"
    [style]="{ width: '12rem' }"
    class="p-button-info"
  ></button>
</form>
